# Titanic - Machine Learning from Disaster

## Kaggle API setting
始めに
- kaggle.json (API Token)をGoogle Drive下Colab Notebooksフォルダに配置
- Google Driveをマウント

In [1]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)

In [2]:
import os
import json
f = open("/content/drive/MyDrive/Colab Notebooks/kaggle.json", 'r')
json_data = json.load(f) 
os.environ['KAGGLE_USERNAME'] = json_data['username']
os.environ['KAGGLE_KEY'] = json_data['key']

In [3]:
!kaggle competitions download -c titanic

titanic.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
!unzip -o "/content/titanic.zip"

Archive:  /content/titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

## preprocess

In [5]:
%%bash
pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.8/dist-packages (0.15.14)
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.4.0)

In [6]:
import polars as pl
import pandas as pd

df_train = pl.read_csv("train.csv")
df_test = pl.read_csv("test.csv")
print(f"train shape: {df_train.shape}, test shape: {df_test.shape}")

df_train.head()

train shape: (891, 12), test shape: (418, 11)

shape: (5, 12)
┌─────────────┬──────────┬────────┬─────────────────┬─────┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ ... ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆     ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆     ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════╪═════╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ ... ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Owen Harris     ┆     ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ ... ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley    ┆     ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor...        ┆     ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ ... ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Miss. Laina     ┆     ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.  ┆ ... ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath   ┆     ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li...          ┆     ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.      ┆ ... ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry   ┆     ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴─────────────────┴─────┴───────────┴─────────┴───────┴──────────┘

In [7]:
df_train.describe()

shape: (7, 13)
┌────────────┬─────────────┬──────────┬──────────┬─────┬───────────┬───────────┬───────┬──────────┐
│ describe   ┆ PassengerId ┆ Survived ┆ Pclass   ┆ ... ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆     ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆     ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═════╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ ... ┆ 891       ┆ 891.0     ┆ 891   ┆ 891      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ ... ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ ... ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ ... ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ ... ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ ... ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
│ median     ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ ... ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
└────────────┴─────────────┴──────────┴──────────┴─────┴───────────┴───────────┴───────┴──────────┘

In [8]:
# Embarked unique
print(df_train["Embarked"].value_counts(), "\n")
print(df_test["Embarked"].value_counts(), "\n")

# 最多数のSで欠損値を埋める
_tmp = df_train["Embarked"].fill_null("S")
df_train = df_train.with_column(_tmp)
print(df_train["Embarked"].value_counts(), "\n")

df_train.head()

shape: (4, 2)
┌──────────┬────────┐
│ Embarked ┆ counts │
│ ---      ┆ ---    │
│ str      ┆ u32    │
╞══════════╪════════╡
│ null     ┆ 2      │
│ S        ┆ 644    │
│ Q        ┆ 77     │
│ C        ┆ 168    │
└──────────┴────────┘

shape: (3, 2)
┌──────────┬────────┐
│ Embarked ┆ counts │
│ ---      ┆ ---    │
│ str      ┆ u32    │
╞══════════╪════════╡
│ C        ┆ 102    │
│ S        ┆ 270    │
│ Q        ┆ 46     │
└──────────┴────────┘

shape: (3, 2)
┌──────────┬────────┐
│ Embarked ┆ counts │
│ ---      ┆ ---    │
│ str      ┆ u32    │
╞══════════╪════════╡
│ C        ┆ 168    │
│ S        ┆ 646    │
│ Q        ┆ 77     │
└──────────┴────────┘

shape: (5, 12)
┌─────────────┬──────────┬────────┬─────────────────┬─────┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ ... ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆     ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆     ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════╪═════╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ ... ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Owen Harris     ┆     ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ ... ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley    ┆     ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor...        ┆     ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ ... ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Miss. Laina     ┆     ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.  ┆ ... ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath   ┆     ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li...          ┆     ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.      ┆ ... ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry   ┆     ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴─────────────────┴─────┴───────────┴─────────┴───────┴──────────┘

In [9]:
# N of Fimily
df_train = df_train.with_column(pl.Series("N_of_Falmily", df_train['SibSp'] + df_train['Parch']))
df_test = df_test.with_column(pl.Series("N_of_Falmily", df_test['SibSp'] + df_test['Parch']))

In [10]:
# convert to dummy variable
def df_to_dummy(df):
  df = df.with_column(df["Pclass"].cast(str))
  _tmp = pd.get_dummies(df[['Sex', 'Embarked', 'Pclass']].to_pandas(), drop_first = False)
  
  df = pl.concat([df, pl.DataFrame(_tmp)], how="horizontal")
  return df
  
df_train = df_to_dummy(df_train)
df_test = df_to_dummy(df_test)

In [11]:
# select feature
y_train = df_train["Survived"].to_numpy()
X_train = df_train.drop(columns=['PassengerId', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Embarked', 'Age', 'Cabin', 'Pclass', 'Survived']).to_numpy()

X_test = df_test.drop(columns=['PassengerId', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Embarked', 'Age', 'Cabin', 'Pclass']).to_numpy()

## train

In [12]:
from xgboost import XGBClassifier

print(X_train.shape, X_test.shape)

xgb = XGBClassifier(max_depth=3, learning_rate=0.1, n_estimators=100)
xgb.fit(X_train, y_train)
y_test = xgb.predict(X_test)

(891, 10) (418, 10)

In [13]:
from datetime import datetime, timedelta, timezone
JST = timezone(timedelta(hours=+9), 'JST')
t = datetime.now(JST).strftime('%Y%m%d_%H%M')

df_submit = df_test[["PassengerId"]]
df_submit = df_submit.with_column(pl.Series("Survived", y_test))
df_submit.to_pandas().to_csv((f'submit_{t}.csv'), index=False)